/* Base CSS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

div[class*="col-"] {
  /* debug*/
  background-color: red; /*#428bca;*/
  border: 1px solid #000;
  min-height: 200px;
  position: relative;
}

/* Typography */

h1#mainTitle {
  color: #FFF;
  font-weight: 900;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.descrFont {
  font-size: 1rem;
}

/* Main */
main h3 {
  margin-bottom: 30px;
}

.image-column img {
  display: block;
  margin: 0 auto;
}

/* Section Lessons */
.section-lessons h2 {
  text-align: center;
}


/* Section How It Works */
.section-howItWorks {
  background-color: #f9f9f9;
}

/* debug */
.row .row > div[class*="col-"] {
  background-color: green;
}


 /* Small Screen CSS */
@media screen and (max-width: 768px) {

  /* Section Lessons */
  h3 {
    font-size: 2rem;
  }

  .section-lessons .image-column > img {
    height: 200px;
  }

  .section-lessons .text-column {
    padding: 10px 10px;
    text-align: center;
  }

}

 /* Medium Screen CSS */
@media screen and (max-width: 991px) and (min-width: 767px) {

  .image-column > img {
    height: 120px;
  }

  /* Section Lessons */
  .section-lessons .image-column > img {
    height: 100px;
  }

  .section-lessons .text-column {
    padding: 10px 10px;
    text-align: justify;
  }


}

 /* Large Screen CSS */
@media screen and (min-width: 992px) {

  .image-column > img {
   height: 200px;
 }

 /* Section Lessons */
 .section-lessons .text-column {
   padding: 10px 50px;
   text-align: center;
 }

 /* Section How it works */
 .section-howItWorks .image-column {
   border-radius: 50%;
 }

 .section-howItWorks .text-column {
   padding: 10px 50px;
   text-align: center;



 }
