/* Base CSS */
body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

/* Typography */
h1#mainTitle {
  color: #FFF;
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.descrFont {
  font-size: 1rem;
}

/* Header */

header {
  background-color: #428bca;
  height: 60px;
  line-height: 60px;
}

/* Main */
main h3 {
  margin-bottom: 30px;
}

.section-lessons {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-howItWorks {
  margin: 30px 0;
}

.section-chooseUs {
  margin-top: 30px;
  margin-bottom: 0;
}

.title-column {
  text-align: center;
  margin: 30px 0;
}

.image-column img {
  display: block;
  margin: 0 auto;
}

/* Section How It Works */
.section-howItWorks, .section-chooseUs {
  background-color: #f9f9f9;
}

/* Section Choose Us */
.section-chooseUs .image-column {
  margin-top: 15px;
}

.section-chooseUs .image-column > img {
  background-color: #428bca;
  padding: 20px;
  border-radius: 50%;
}

.section-chooseUs .text-column {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}

 /* Small Screen CSS */
@media screen and (max-width: 768px) {

  /* Section Lessons */
  h3 {
    font-size: 2rem;
  }

  .image-column > img {
    height: 150px;
  }

  /* Section lessons */
  .section-lessons .text-column {
    padding: 10px 10px;
    text-align: center;
  }

  .section-lessons .image-column > img {
    height: 200px;
  }

  /* Section how it works */
  .section-howItWorks .image-column {
    margin-bottom: 30px;
  }
}

 /* Medium Screen CSS */
@media screen and (max-width: 991px) and (min-width: 767px) {

  .image-column > img {
    height: 120px;
  }

  /* Section Lessons */
  .section-lessons .image-column > img {
    height: 100px;
  }

  .section-lessons .text-column {
    padding: 10px 20px;
  }

  /* Section how it works */
  .section-howItWorks h3 {
    margin-top: 10px;
    text-align: center;
  }

  .section-howItWorks .text-column {
    padding: 10px 20px;
  }
}

 /* Large Screen CSS */
@media screen and (min-width: 992px) {

  .image-column > img {
   height: 200px;
 }

  .text-column {
   padding: 10px 50px;
   text-align: center;
 }

 /* Section How it works */
 .section-howItWorks .image-column {
   border-radius: 50%;
 }

}
